/* CSS Document */

#processing {
	position:fixed;
	bottom:0;
	min-width:250px;
	width:50%;
	left:25%;
	display:none;
	opacity:0.9;
	padding:8px;
	
}
.contextMenu {
	display:none;
	position:absolute;
	background:#fff;
	border:#999 1px solid;
	width:auto;
	z-index:499;
	opacity:0.9;	
	text-align:right;
}
.contextMenu li {
	list-style-type:none;
	text-align:right;
	padding:5px;
}

/* to much space in Internet Explorer 7 */
*+ html .contextMenu li {
	padding-bottom: 0;
}

.contextMenu li:Hover {
	background-color:#CCC;
	color:#FFFFFF;
	cursor:pointer;
}
#pdfTree, #helpSubjects{
	float:left;
	width:300px;
	position:relative;
	display:inline;
}


#header{
	height:75px;
}
.ajaxInfo, .info{
	text-align:center;
	background-color:#FF5511; /*3366CC;*/
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
}
#activeElement {
	text-align:center;
	padding-top:4px;
	min-width:250px;
	width:25%;
	left:37%;
	font-size:14px;
	height:20px;
	margin-bottom:15px;
	margin-top:15px;
}
#wrap{
	width:100%;
	background:#86B0D1; /*3366CC;*/
	position:relative;
	clear:both;
	display:block;
}
#resultmenu{
	width:100%;
	background:#EDEACC;
	position:relative;
	clear:both;
	font-size:14px;
	font-weight:600;
	display:block;
}

.root{
	color:#036AC2;
	font-size:14px;
}
#contentbox{
text-align:center;margin:0px auto;padding:10px;
}
.menufrmdiv{
	background: #03223A;  
	color:#F6EEEE;
	width: 300px;
	height: 250px;
	padding:30px;line-height:35px;
	display:none;
	position:relative;
	direction:rtl;
	margin:0px auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #B6B6B6;
}
