.navMenu a,.navMenu a:link,.navMenu a:visited,.navMenu a:hover{letter-spacing:normal;outline:none;text-decoration:none;word-spacing:normal;}
.navMenu,.navMenu ul{border:0;display:block;list-style-type:none;min-height:0;margin:0;padding:0;}
.navMenu li{float:right;background:none;border:0;display:block;position:relative;z-index:5;margin:0;padding:0;}
.navMenu li:hover{white-space:normal;z-index:10000;color:white;}
.navMenu ul{right:0;position:absolute;top:0;visibility:hidden;z-index:10;margin-top:-8px;padding:20px}
.navMenu li:hover > ul{top:100%;visibility:visible;color:white;}
.navMenu li li:hover > ul{right:100%;top:0;}
.navMenu:after,.navMenu ul:after{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}
.navMenu ul ul{margin-top:-20px;margin-right:-20px;padding:20px;}
ul.navMenu{position:absolute;}
.navMenu{padding:12px 16px 0;}
.usv-nav{height:52px;position:relative;z-index:100;padding-right:5px;}
.usv-nav .l,.usv-nav .r{background:url(img/menu.png) repeat-x;height:52px;position:absolute;z-index:-1;border-color:#eeeeee;border-style:solid;border-width:1px;}
.usv-nav .l{left:0;right:0;}
.usv-nav .r{clip:rect(auto,auto,auto,992px);right:0;width:100%;}
.navMenu ul li{clear:both;}
.navMenu a{cursor:pointer;display:block;margin-left:2px;margin-right:2px;overflow:hidden;position:relative;text-decoration:none;}
.navMenu a .r,.navMenu a .l{display:block;height:110px;position:absolute;top:0;z-index:-1;}
.navMenu a .l{left:0;right:4px;}
.navMenu a .r{right:0;width:500px;}
.navMenu a .t{color:#000;font-family:Tahoma,Arial,Helvetica,Sans-Serif;font-size:14px;font-style:normal;line-height:30px;margin:0 4px;padding:0 19px;}
.navMenu a.active .l,.navMenu a.active .r{top:0;}
.navMenu a.active .t{color:#111311;}
.navMenu ul a{background:#F2F2F2;display:block;height:30px;line-height:20px;margin-right:auto;overflow:hidden;white-space:nowrap;width:180px;border-right:2px solid #ccc;border-left:2px solid #ccc;}
.navMenu ul a,.navMenu ul a:link,.navMenu ul a:visited,.navMenu ul a:hover,.navMenu ul a:active,.usv-nav ul.navMenu ul span,.usv-nav ul.navMenu ul span span{color:#363399;line-height:25px;text-decoration:none;text-indent:22px;}
.navMenu ul ul a{float:right;margin:auto;}
.navMenu a:hover .l,.navMenu a:hover .r,.navMenu li:hover > a .l,.navMenu li:hover > a .r,.navMenu li:hover a .l,.navMenu li:hover a .r{top:-30px;}
.navMenu a:hover .t,.navMenu li:hover a .t,.navMenu li:hover > a .t{color:#363399;font-weight:600;}
.navMenu ul li a:hover,.navMenu ul li:hover>a{color:#363399;border-bottom:1px solid #0051A3;}
.usv-nav .navMenu ul li a:hover span,.usv-nav .navMenu ul li a:hover span span,.usv-nav .navMenu ul li:hover>a span,.usv-nav .navMenu ul li:hover>a span span{color:#363399;}