/*www.MarlikCMS.com
17/12/2009
*/

html {direction:rtl;text-align:right;}
body {width:600px;font:11px tahoma;margin:0 auto;padding:10px;background-color:#ffffff;border:1px solid #49B7D4;background-repeat:repeat;background-attachment:scroll;background-position:top left;}
.cleared {float:none;clear:both;margin:0;padding:0;border:none;font-size:1px}
hr {height:2px;border-width:0;background-color:#0A466B;color:#0A466B}
img {border:0}
a:visited {color:#660000;text-decoration:none}
a:active,a:link {color:#2200CC;text-decoration:none}
a:hover {text-decoration:none;color:#B44D00}
dt {display:block;font-weight:bold}
ul,ol,li {list-style:none}
small {font-size:.85em}
big {font-size:1.15em}
hr {border:1px solid #ddd}
input.input-text,select,textarea {border:1px solid #b6b6b6;font:12px tahoma}
select option {padding-right:10px}
option,optgroup {font:12px tahoma}
optgroup {font-weight:bold}
input.input-text,textarea {padding:2px}
textarea {overflow:auto}
input.radio {margin-right:3px}
input.checkbox {margin-right:3px}
.button-set {clear:both;margin-top:4em;border-top:1px solid #e4e4e4;padding-top:8px;text-align:right}
.button-top-set {margin-top:0;border-top:0;padding-top:0;padding-bottom:8px}
.title {background:none;color:#000;font-size:10pt;font-weight:bold;font-family:Tahoma,Verdana,Helvetica;text-decoration:none}
.content,.block-title,.storytitle,.storycat,.boxtitle,.boxcontent,.option,.tiny,.small {background:none;color:#000;font-size:8pt;font-weight:normal;font-family:Tahoma,Verdana,Helvetica;text-decoration:none}
h1 {font-size:22px;text-decoration:none;line-height:120%;color:#000}
h2 {margin:0;font-size:20 px;text-decoration:none;line-height:120%}
h3 {margin:0;font-size:18 px;line-height:120%}
h4 {margin:0;font-size:16 px}
h1,h2,h3,h4 {font-family:Tahoma,Arial,Helvetica,sans-serif}
